/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem; /*56px*/

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --primary-color-hue: 352;
  --dark-color-lightness: 17%;
  --light-color-lightness: 92%;
  --white-color-lightness: 100%;

  --color-white: hsl(252, 30%, var(--white-color-lightness));
  --color-light: hsl(252, 30%, var(--light-color-lightness));
  --color-dark: hsl(252, 30%, var(--dark-color-lightness));
  --color-gray: hsl(252, 15%, 65%);
  --color-primary: hsl(var(--primary-color-hue), 75%, 60%);


  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Rubik", sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  /*========== Font weight ==========*/
  --font-medium: 400;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --m-0-5: 0.5rem;
  --m-0-75: 0.75rem;
  --m-1: 1rem;
  --m-1-5: 1.5rem;
  --m-2: 2rem;
  --m-2-5: 2.5rem;

  /*========== Card padding ==========*/
  --card-padding: 1.9rem 0.95rem;

  /*========== Border radius ==========*/
  --border-radius: 1.25rem;

  /*========== Box shadow ==========*/
  --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}
/*========== Scroll Bar ==========*/

/*========== Responsive Typography ==========*/
@media screen and (max-width:990px){
  :root{
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: .94rem;
    --small-font-size: 0.815rem;
  }
}

/*========== Base ==========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
body {
  background-color: var(--color-light);
  color: var(--color-dark);
  line-height: 1.7;
  font-weight: var(--font-medium);
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--color-dark);
}
h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
}
h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}
/*========== Layout ==========*/
.container {
  max-width: 968px;
  margin: 0 auto;
  overflow: hidden;
}
.padd-15 {
  padding: 0 15px;
}
.section .container {
  padding-top: 3.75rem;
  padding-bottom: 4.75rem;
}
.section-title {
  font-size: var(--h1-font-size);
  margin-left: var(--m-0-75);
  margin-bottom: var(--m-2-5);
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/*========== Reusable css classes ==========*/

/*========== Text Animation ==========*/
svg{
  width: 300px;
  display: flex;
  justify-content: center;
}
svg text {
  stroke: var(--color-dark);
  font-size: 185px;
  font-weight: 700;
  stroke-width: 5;
  animation: textAnimate 8s infinite alternate;
}
@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
  }
}
/*========== Buttons ==========*/
.button-anon-pen {
  width: 150px;
  background-image: linear-gradient(
    115deg,
    #fd004c,
    #fe9000,
    #fff020,
    #3edf4b,
    #3363ff,
    #b102b7,
    #fd004c
  );
  text-align: center;
  margin: 0 auto;
  position: relative;
  color: #fff;
  text-decoration: none;
  display: block;
  color:var(--color-white);
  font-weight: normal;
  border-radius: 10px;
  overflow: hidden;
  animation: play 8s ease-in infinite;
}

.button-anon-pen:active {
  color: var(--color-primary);
  animation: play 2s ease-in infinite;
}

.button-anon-pen span {
  padding: 0.25rem 1rem;
  font-size: 22px;
  display: block;
  margin: 3px;
  background: var(--color-dark);
  border-radius: 10px;
}
@keyframes play {
  0% {
    background-position: 0px;
  }
  20% {
    background-position: -110px;
  }
  35% {
    background-position: -180px;
  }
  50% {
    background-position: -210px;
  }
  80% {
    background-position: -350px;
  }
  100% {
    background-position: -390px;
  }
}

.btn {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: var(--border-radius);
}
.btn-default {
  color: #fff;
  vertical-align: middle;
  background-color: var(--color-primary);
  transform: perspective(1px) translatez(0);
}

/*========== HEADER ==========*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  background-color: var(--color-light);
}

/*========== NAV ==========*/
.nav {
  height: calc(--header-height) + 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3rem;
}
.nav-logo {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: 0.125rem;
  position: relative;
}
.nav-logo::after {
  position: absolute;
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  top: 56%;
  right: -0.25rem;
}
.nav-menu {
  margin-left: auto;
}
.nav-list {
  display: flex;
  column-gap: 3rem;
}
.nav-link {
  font-weight: var(--font-medium);
  transition: 0.3s;
}
.nav-link:hover {
  color: var(--color-primary);
}
.nav-close{
  position: absolute;
  font-size: 1rem;
  top:1rem;
  right:1.25rem;
  cursor: pointer;
}
.nav-btns {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}
.change-theme {
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-toggle {
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-close,
.nav-toggle {
  display: none;
}
.nav-toggle i {
  color: var(--color-dark);
}
.active-link {
  position: relative;
}
.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 0.3rem;
  height: 0.3rem;
  background-color: var(--color-primary);
  border-radius: 50%;
}
.scroll-header{
  box-shadow: 0 1px 4px rgba(165,125,125,0.02);
}
/*========== Home ==========*/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
}
.home .intro {
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
  max-width: 540px;
  text-align: center;
}
.home .intro img {
  margin-bottom: var(--m-1);
}
.home .intro span {
  font-size: 1rem;
}
.home .intro .social-icons {
  margin-top: var(--m-1-5);
  margin-bottom: var(--m-2);
}
.home .intro .social-icons li {
  display: inline-block;
}
.home .intro .social-icons li:not(:last-child) {
  margin-right: var(--m-1-5);
}
.home .intro .social-icons a {
  font-size: var(--h3-font-size);
}

.scroll-down {
  position: absolute;
  bottom: var(--m-2-5);
  left: 0;
  width: 100%;
}
.mouse-wrapper {
  font-size: var(--small-font-size);
  display: block;
  margin: auto;
  max-width: 100px;
  text-align: center;
}
@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}
.mouse {
  border: 2px solid var(--color-dark);
  display: block;
  margin-top: var(--m-0-75);
  height: 1.75rem;
  width: 1.25rem;
  margin: auto;
  border-radius: var(--border-radius);
  position: relative;
}
.mouse .wheel {
  background-color: var(--color-dark);
  border-radius: 50%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: var(--m-0-5);
  left: 40%;
  display: block;
  animation: ani-mouse 2s linear infinite;
}
.conatainer-avatar{
  display: flex;
  justify-content: center;
}
.avatar{
  position: relative;
  height: 13rem;
  width: 13rem;
  background-color: #162052;
  border-radius: 50%;
  overflow: hidden;
  
}

.avatar::before{
  content : '';
  position: absolute;
  inset : -10px 70px;
  background-image: linear-gradient( #fa709a 0%, #00ccff 100%);
  animation: animate 4s linear infinite;
  transition: 0.5s;
}
.avatar:hover::before{
  inset: -20px 0px;

}

@keyframes animate {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}
.avatar::after{
  content: '';
  position: absolute;
  inset: 4px;
  background-color: #355070;
  z-index: 1;
  border-radius: 50%;
}
.avatar .content{
  position: absolute;
  inset: 10px;
  z-index: 2;
  border: 4px solid #162052;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  
}

.avatar .content img{
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.avatar:hover .content img{
  opacity: 0;
  display: none;
}

.avatar .content a{
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #fff;
  font-weight: 500;
  font-size: 18px;
  color:var(--color-primary);
  cursor: pointer;
}


/*========== About ==========*/
.about-img {
  flex: 0 0 25%;
  max-width: 25%;
}
.about-content {
  flex: 0 0 75%;
  max-width: 75%;
}
.about-content .about-text {
  flex: 0 0 55%;
  max-width: 55%;
}
.about-content .skills {
  flex: 0 0 45%;
  max-width: 45%;
}
.rounded {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--border-radius);
}
.about-text p {
  text-align: justify;
  margin-bottom: var(--m-1);
}
.about-content .skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.about-content .skills .skill-item:not(:last-child) {
  margin-bottom: var(--m-1-5);
}
.about-content .skills .skill-item .skill-name {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: var(--m-0-75);
}

.about-content .skills .skill-item .skill-bar {
  height: 0.45rem;
  background-color: #282828;
  border-radius: 3px;
}

.about-content .skills .skill-item .skill-per {
  height: 0.45rem;
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  position: relative;
  animation: fillBars 2.5s 1;
}

.about-content .skills .skill-item .skill-per::before {
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background-color: #f1f1f1;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  color:hsl(252,30%,10%);
  transform: translateX(50%);
}

.about-content .skills .skill-item .skill-per::after {
  content: "";
  position: absolute;
  /* z-index: -100; */
  width: 10px;
  height: 20px;
  background: #f1f1f1;
  top: -20px;
  right: -5px;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/*========== Services ==========*/
.services .service-item{
  display: 0 0 33%;
  max-width: 33%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.services .service-item .service-item-inner{
  border-radius: var(--border-radius) ;
  padding: var(--card-padding);
  text-align: center;
  transform: translateY(0);
  transition: 0.3s;
}
.services .service-item .service-item-inner:hover{
  transform: translateY(-0.5rem);
}
.service-item .service-item-inner img{
  margin-bottom: var(--m-0-75);
}
.service-item .service-item-inner h3{
  margin-bottom: var(--m-0-5);
  color:#fff;
}
.service-item .service-item-inner p{
  color:#fff;
}

.services .text{
  text-align: center;
  margin-top: var(--m-1-5);
}
.services .text a{
  color:var(--color-primary);
}
/*========== Experience ==========*/
.education{
  flex:0 0 50%;
  max-width: 50%;
 
}
.experience{
  flex:0 0 50%;
  max-width: 50%;
}
.timeline-box{
  flex: 0 0 100%;
  max-width: 100%;
}
.timeline {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: 1.9rem 0.95rem;
  width: 100%;
  position: relative;
}

.timeline .timeline-item{
  position: relative;
  padding-left: 2.5rem;
  padding-bottom:1.9rem;
}
.timeline .timeline-item:last-child{
  padding-bottom: 0;
}
.timeline .timeline-item::before{
  content:'';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color:var(--color-primary);
  left: var(--m-0-5);
  top:0;
} 
.timeline .timeline-item .timeline-icon{
  position: absolute;
  top:0;
  left:-0.25rem;
  font-size: 1.5rem;
  color:var(--color-primary);
  background-color: var(--color-white);
}
.timeline .timeline-date{
  color:var(--color-gray);
  font-size: var(--small-font-size);
}

.timeline .timeline-date .lni{
  margin-right: 0.5rem;
}
.timeline .timeline-title{
  margin: var(--m-0-75) 0;
}

/*========== Portfolio ==========*/
.portfolio .portfolio-filter{
  flex:0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: var(--m-2-5);
}
.portfolio .portfolio-filter button{
  background-color: transparent;
  font-weight: var(--font-semi-bold);
  margin: 0 var(--m-0-75);
  text-transform: capitalize;
  border:none;
  cursor: pointer;
  color:var(--color-dark);
  white-space:nowrap;
  transition: 0.3s;
}
.portfolio .portfolio-filter button.active{
  color:var(--color-primary);
  position: relative;
}
.portfolio .portfolio-filter button.active::before{
  content:'';
  width:  5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--color-primary);
  position: absolute;
  top:1.5rem;
  left:45%;
}

.portfolio .portfolio-item{
  flex:0 0 33%;
  max-width: 33%;
  margin-bottom: var(--m-1-5);
}
.portfolio .portfolio-item.hide{
  display:none;
}
.portfolio .portfolio-item.show{
  display:block;
  transition : showItem 0.5s ease;
}
@keyframes showItem{
  0%{
    transform:scale(0.6);
    opacity: 0;
  }
  100%{
    transform:scale(1);
    opacity: 1;
  }
}

.portfolio-item-inner{
  position: relative;
  overflow: hidden;
}

.portfolio-item-inner .mask{
  position: absolute;
  left:0;
  top:0;
  background-color: rgba(0,0,0,.9);
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s;
}
.portfolio-item-inner:hover .mask{
  opacity: 0.9;
}
.portfolio-item .term
{
  color: #fff;
  background: var(--color-primary);
  border-bottom-left-radius: 0.98rem;
  border-bottom-right-radius: 0.98rem;
  position: absolute;
  top: 0;
  left: var(--m-1-5);
  font-size: var(--small-font-size);
  display: inline-block;
  padding: 0.19rem 0.625rem;
  transition: 0.3s;
  transform: translateY(-40px);
  opacity: 0;
}
.portfolio-item h3{
  font-size: 1.25rem;
  color:#fff;
  margin: 0 0 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  top:3.75rem;
  transition: .3s;
  transform: translateY(30px);
  opacity: 0;
}
.portfolio-item .more-button{
  color: #fff;
  position: absolute;
  bottom: var(--m-1-5);
  left: var(--m-1-5);
  font-size: 1.6rem;
  display: block;
  background: var(--color-primary);
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 28px;
  transition: .3s;
  opacity: 0;
}
.portfolio-item-inner:hover h3, .portfolio-item-inner:hover span
{
 opacity: 1;
 transform: translateY(0);
}


/*========== Contact ==========*/
.contact-box
{
 flex: 0 0 40%;
 max-width: 40x;
}
.contact-form
{
 flex: 0 0 60%;
 max-width: 60x;
}
.contact-data
{
 display: grid;
 row-gap: 2rem;
}
.contact-subtitle
{
  margin-bottom: var(--m-0-5);
}
.contact-description
{
 display: inline-flex;
 align-items: center;
 column-gap: .5rem;
}
.contact-icon
{
 font-size: 1.2rem;
}
.contact-inputs
{
 display: grid;
 row-gap: 2rem;
 margin-bottom: var(--m-2-5);
}
.contact-content
{
 position: relative;
 height: 3rem;
 border-bottom: 2px solid var(--color-gray);
}
.contact-content span
{
 position: absolute;
 bottom: -2px;
left: 0;
 content: '';
 height: 2px;
 width: 0;
 transition: 0.75s;
 background: var(--color-primary);
}
.contact-input:focus ~ span
{
  width: 100%;
}
.contact-input
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem 1rem 0;
  background: none;

  outline: none;
  border: none;
  z-index: 1;
}
.contact-label
{
 position: absolute;
 top: .40rem;
 width: 100%;
 font-size: var(--small-font-size);
 transition: .3s;
}
.contact-area
{
 height: 7rem;
}
.contact-area textarea
{
 resize: none;
}
.contact-input:focus + .contact-label{
  top:-.75rem;
  left:0;
  z-index: 10;
  color:var(--color-primary);
}
/*========== Footer ==========*/
.footer{
  padding: 50px 0;
}
.footer-text{
  text-align: center;
  font-size: var(--h3-font-size);
}
/*========== Customize Theme ==========*/
.customize-theme{
  background-color: rgba(0,0,0,.4);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: var(--small-font-size);
  display: none;
}
.customize-theme .card{
  background-color: var(--color-white);
  padding:3rem;
  border-radius: var(--border-radius);
  width: 40%;
  max-width: 600px;
}
.card .font-size, .card .color, .card .background{
  margin-top: var(--m-2);
}
.customize-theme .font-size >div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  padding: .6rem 1rem;
}
.customize-theme .choose-size{
  background-color: hsl(252, 100%, 90%);
  height: .3rem;
  width: 100%;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.customize-theme .choose-size span{
  height: 1rem;
  width: 1rem;
  background-color:hsl(252, 100%, 90%);
  border-radius: 50%;
  cursor: pointer;
}
.customize-theme .choose-size span.active{
  background-color: var(--color-primary);
}
.customize-theme .choose-color{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  padding: .6rem 1rem;
}
.customize-theme .choose-color span{
  height: 1.8rem;
  width:1.8rem;
  border-radius: 50%;
  cursor: pointer;
}
.customize-theme .choose-color span:nth-child(1){
  background-color: hsl(252, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(2){
  background-color: hsl(52, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(3){
  background-color: hsl(352, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(4){
  background-color: hsl(152, 75%, 60%);
}
.customize-theme .choose-color span:nth-child(5){
  background-color: hsl(202, 75%, 60%);
}
.customize-theme .choose-color span.active{
  border: 5px #fff solid;
}

.customize-theme .choose-bg{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem 1rem;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  gap: .6rem;
}
.customize-theme .choose-bg>div{
  padding: 0.8rem 0.20rem;
  width: 100%;
  border-radius: 0.4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.customize-theme .choose-bg>div.active{
  border:2px solid var(--color-primary);
}
.customize-theme .choose-bg>div:nth-child(1){
  color:hsl(252,30%,17%);
  background-color:hsl(252,30%,92%);
}
.customize-theme .choose-bg>div:nth-child(2){
  background-color:hsl(252,30%,17%);
  color:#fff;
}
.customize-theme .choose-bg>div:nth-child(3){
  background-color: hsl(252,30%,10%);
  color:#fff;
}
.customize-theme .choose-bg span{
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 2px solid var(--color-gray);
}
/*========== Media Queries ==========*/
@media only screen and (max-width: 1200px) {
  .customize-theme .card{
    width: 50vw;
  }
}
@media only screen and (max-width: 968px) {
  .about-content,
  about-img{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .row{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-img{
    margin-bottom: var(--m-2-5);
  }
  .services .service-item{
    flex:0 0 50%;
    max-width: 50%;
    margin-bottom: var(--m-2-5);
  }
  .customize-theme .card{
    width: 60vw;
  }
}
@media only screen and (max-width: 768px) {
 
  .container{
    max-width: 568px;
  }
  .nav{
    height: var(--header-height);
  }
  .nav-list{
    flex-direction: column;
    row-gap: 1.5rem;
    position:fixed;
    width: 72%;
    height: 100%;
    top:0;
    right:-100%;
    padding: 4rem 0 0 3rem;
    border-radius: 1rem 0 0 1rem;
    z-index: 100;
    background: var(--color-white);
    transition: .3s;
  }
  .show-menu{
    right:0;
  }
  .nav-close, .nav-toggle{
    display: inline-flex;
  }
  .about-content .about-text,
  .about-content .skills{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about-content .about-text{
    margin-bottom: var(--m-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .about-content .about-text a{
    display: block;
    margin-top: var(--m-1);
  }
  .portfolio .portfolio-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .services .service-item,
  .education, 
  .experience{
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .education{
    margin-bottom: var(--m-2);
  }
  .customize-theme .card{
    width: 75vw;
  }
}
@media only screen and (max-width: 576px) {

  .portfolio .portfolio-item {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .portfolio .portfolio-item-inner{
    max-width: 380px;
    margin: 0 auto;
  }

  .contact .contact-box,
  .contact .contact-form{
    flex: 0 0 100%;
    max-width: 80%;
    margin: 0 auto;
  }
  .contact .contact-box{
    margin-bottom: var(--m-2-5);
  }
  .timeline{
    padding: 25px 20px;
  }
  .timeline .timeline-item{
    padding-left: 35px;
    padding-bottom: 20px;
  }
  .customize-theme .card{
    width: 95vw;
    padding: 1rem;
  }
  .card .font-size, .card .color, .card .background{
    margin-top: var(--m-1);
  }
}
@media only screen and (max-width: 320px) {
}
